<div class="flex justify-center p-4">
<div class="bg-[#68686859] opacity-90 border-[#fcfcfc57] border-[1px] inset-shadow-sm rounded-4xl text-center items-center inset-shadow-black p-4 flex flex-col gap-4 text-white"> <div class="grid grid-cols-5 w-full">
  <div class="col-start-2 col-span-3">
  <h1 class="text-4xl text-white">VIDEOGAME MUSIC</h1>
</div>
<div class="col-start-5"><button (click)="backToMusic()"><mat-icon class="!text-slate-100 !text-5xl !size-[3rem] transition duration-200 hover:drop-shadow-[0_4px_4px_rgba(100,0,100,2)] hover:scale-[1.1] flex justify-center">close</mat-icon></button></div></div>

<p>Videogame music is quite new area for me personally from the composers viewpoint.
</p>
<p>I took a course in videogame music back in 2023 and all the tracks produced there, are available on my <a href="https://open.spotify.com/album/3ocjs5Rduf44OpbVpe5g1l?si=lfmvogYvQZqEHB5TVYlsLw" target="_blank" class="underline font-semibold">Spotify</a></p>
<p>I also produced soundtrack for the game <a href="https://store.steampowered.com/app/3286110/Happy_Home_Prologue/" target="_blank" class="underline font-semibold">Happy Home: Prologue</a>, that can be found on steam.</p>
  </div>
</div>
