<div class="bg-[#68686859] opacity-90 border-[#fcfcfc57] border-[1px] inset-shadow-sm rounded-4xl inset-shadow-black p-4 flex flex-col gap-4 text-white"><h1 class="text-4xl">VIDEOGAME MUSIC</h1>
<p>Videogame music is quite new area for me personally from the composers viewpoint.
</p>
<p>I took a course in videogame music back in 2023 and all the tracks produced there, are available on my <a href="https://open.spotify.com/album/3ocjs5Rduf44OpbVpe5g1l?si=lfmvogYvQZqEHB5TVYlsLw" target="_blank" class="underline font-semibold">Spotify</a></p>
<p>I also produced soundtrack for the game <a href="https://store.steampowered.com/app/3286110/Happy_Home_Prologue/" target="_blank" class="underline font-semibold">Happy Home: Prologue</a>, that can be found on steam.</p>
  </div>
