<div class="flex flex-col justify-center items-center lg:h-[80vh]">
  <div class="flex flex-col justify-center gap-20 items-center p-4">
    <div class="flex flex-col justify-center items-center gap-6">
      <h1 class="text-6xl underline text-center">CONTACT</h1>
      <div class="flex flex-col text-center gap-4">
        <p class="text-2xl">
          Here you can find my contact information and socials!
        </p>
        <p class="text-xl">
          <span class="font-semibold">Email: </span>
          <a
            class="email hover:text-blue-600 hover:underline duration-150"
            href="mailto:aleksi.hakala.98@gmail.com"
            >{{ email }}</a
          >
        </p>
        <p class="text-xl">
          <span class="font-semibold">Discord: </span> azlarieth
        </p>
        <p class="text-xl"><span class="font-semibold">Business ID/Y-tunnus: </span> 3496886-1</p>
        <p class="text-xl">
          <span class="font-semibold">Location: </span> Jyväskylä, Finland
        </p>
      </div>
    </div>

    <div class="flex flex-row flex-wrap gap-6">
      <a href="https://www.instagram.com/lalexeii" target="_blank"
        ><img
          src="assets/images/insta.png"
          alt="instagram"
          class="h-14 hover:scale-[1.05] hover:drop-shadow-[0_4px_4px_rgba(100,0,100,2)] duration-[200ms] cursor-pointer"
      /></a>
      <a
        href="https://www.linkedin.com/in/aleksi-hakala-a061121a7/"
        target="_blank"
      >
        <img
          src="assets/images/linkedin.png"
          alt="linkedin"
          class="h-14 hover:scale-[1.05] hover:drop-shadow-[0_4px_4px_rgba(100,0,100,2)] duration-[200ms] cursor-pointer"
      /></a>
      <a href="https://github.com/Haklu98" target="_blank"
        ><img
          src="assets/images/github.png"
          alt="github"
          class="h-14 hover:scale-[1.05] hover:drop-shadow-[0_4px_4px_rgba(100,0,100,2)] duration-[200ms] cursor-pointer"
      /></a>
      <a href="https://www.youtube.com/@Aleksi_Hakala" target="_blank"
        ><img
          src="assets/images/Youtube_logo.png"
          alt="youtube"
          class="h-14 hover:scale-[1.05] hover:drop-shadow-[0_4px_4px_rgba(100,0,100,2)] duration-[200ms] cursor-pointer"
      /></a>
      <a
        href="https://open.spotify.com/artist/4aPGiD72YUspyHkT368CU9?si=Dh0qGH2XQZOWDqdoeAUs4g"
        target="_blank"
        ><img
          src="assets/images/Spotify.png"
          alt="spotify"
          class="h-14 hover:scale-[1.05] hover:drop-shadow-[0_4px_4px_rgba(100,0,100,2)] duration-[200ms] cursor-pointer"
      /></a>
    </div>
  </div>
</div>
