<hr class="h-0.5 border-t-0 bg-slate-200 drop-shadow-[1px_1px_2px_rgba(150,250,100,0.5)]" />
<footer class="footer footer-center flex flex-row justify-between bg-base-300 text-base-content p-4 bg-gradient-to-l from-[#12032af5] to-[#052036af5] ">
  <aside class="text-slate-200">
    <p>Copyright © 2025 - All right reserved by Aleksi Hakala</p>
  </aside>
  <p>Source Code: <a href="https://github.com/Haklu98/portfolio.git" target="_blank" class="link link-hover hover:underline">GitHub</a></p>
</footer>
