<div class="flex flex-col p-4">
  <div
    class="flex flex-row justify-between items-center bg-gradient-to-b from-[#0d688370] to-[#2b2b2b7e] border-[#ffffff83] border-[1px]"
  >
    <h2 class="text-4xl">Elli-Ticorporate</h2>
    <button
      class="h-[4rem] w-[4rem] flex justify-center items-center !hover:text-white hover:bg-gradient-to-b from-[#ff0d0d70] to-[#79000080]"
      (click)="close()"
    >
      <mat-icon
        class="!text-slate-300 !text-5xl !size-[3rem] transition duration-200"
        >close</mat-icon
      >
    </button>
  </div>

  <div
    class="border-[#ffffff83] border-x-[1px] border-b-[1px] p-4 rounded-b-lg bg-[#2b2b2b7e] inset-shadow-black inset-shadow-sm flex flex-row justify-between"
  >
    <div class="w-[50%]">
      <h3 class="text-2xl underline">Description</h3>
      <p>
        <span class="font-semibold">Elli</span> was our team's FF Ticorporate
        project during the 2024 autumn. This project was a commission given to
        us by Elisa Oyj as a part of their collaboration program with Jamk. Our
        goal was to create a collaboration tool between Jamk and Elisa Oyj to
        provide better communication with transparency and efficiency.
      </p>
      <br />
      <p>
        <span class="font-semibold">My job</span> was mainly on the frontend
        side of the project. I spent copious amounts of time on the different
        calendar and task management features, as well as the filtering modules.
        Working with <span class="font-semibold text-red-500">Angular</span> and
        <span class="font-semibold text-blue-400">Tailwind</span>, I was able to
        create a visually appealing and user-friendly interfac that followed the
        UI/UX planning of the project. I was also responsible for the
        <span class="font-semibold">project manager</span> role, which involved
        overseeing the project with the help of our Scrum Master.
      </p>
      <br />
      <h3 class="text-2xl underline">Agile Workflow</h3>
      <p>
        We used the agile method of <span class="font-semibold">Scrum</span> for
        this project. Our sprints were 2 weeks long, and we had daily scrum
        meetings to keep track on what everyone was doing. At the end of the
        sprint we would have a Sprint Review with Elisa Oyj to give feedback on
        the project and Sprint Retrospective to reflect on the sprint. At the
        start of the new sprint, we would have a Sprint Planning meeting where
        we would decide on the tasks for the next sprint with the help of the
        Elisa personnel.
      </p>
      <br />
      <h3 class="text-2xl underline">Personal Retrospective</h3>
      <p>
        <span class="font-semibold">Personally</span> I enjoyed and learned a
        lot from this project. I was able to delve deep into the software
        development process and understand the agile methods that we used. I
        also deepened my understanding on Angular Framework and to my personal
        surprise I also learned how to create a responsive roadmap -styled
        yearly calendar with filtering based on project type and time.
      </p>
    </div>

    <div class="flex flex-col gap-4">
      <div class="flex flex-row gap-10 justify-between">
        <div class="flex">
          <div
            class="border-[#ffffff83] border-x-[1px] border-b-[1px] p-4 rounded-md bg-[#2b2b2b2c] inset-shadow-black inset-shadow-xs"
          >
            <h3 class="text-2xl underline">Roles</h3>
            <div class="flex flex-col justify-end gap-3">
              <p>Frontend Developer</p>
              <p>Project Manager</p>
              <p>The helping hand</p>
            </div>
          </div>
        </div>
        <div class="flex">
          <div
            class="border-[#ffffff83] border-x-[1px] border-b-[1px] p-4 rounded-md bg-[#2b2b2b2c] inset-shadow-black inset-shadow-xs"
          >
            <h3 class="text-2xl underline text-center">Technologies used</h3>
            <div class="flex flex-row justify-end gap-4">
              <div class="flex flex-col justify-center items-center p-2">
                <i class="devicon-angularjs-plain colored text-6xl"></i>
                <p>Angular</p>
              </div>
              <div class="flex flex-col justify-center items-center">
                <i class="devicon-tailwindcss-plain colored text-6xl"></i>
                <p>Tailwind</p>
              </div>
              <div class="flex flex-col justify-center items-center">
                <i class="devicon-typescript-plain colored text-6xl"></i>
                <p>TypeScript</p>
              </div>
              <div class="flex flex-col justify-center items-center">
                <i class="devicon-github-plain colored text-6xl"></i>
                <p>GitHub</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-row gap-10 justify-between">

        <div class="flex">

      <div class="flex">
        <div
          class="border-[#ffffff83] border-x-[1px] border-b-[1px] p-4 rounded-md bg-[#2b2b2b2c] inset-shadow-black inset-shadow-xs"
        >
          <h3 class="text-2xl underline">Project Status</h3>
          <p>Completed</p>
          <p>Time spent: ~450 hours</p>
        </div>
      </div>
  </div>
</div>
