<div class="flex justify-center p-4">
<div class="bg-[#68686859] opacity-90 border-[#fcfcfc57] border-[1px] inset-shadow-sm rounded-4xl inset-shadow-black p-4 text-center items-center flex flex-col gap-4 text-white">  <div class="grid grid-cols-5 w-full">
  <div class="col-start-2 col-span-3">
  <h1 class="text-4xl text-white">LIVE MIXING</h1>
</div>
<div class="col-start-5"><button (click)="backToMusic()"><mat-icon class="!text-slate-100 !text-5xl !size-[3rem] transition duration-200 hover:drop-shadow-[0_4px_4px_rgba(100,0,100,2)] hover:scale-[1.1] flex justify-center">close</mat-icon></button></div></div>
  <p>I have been working as the live audio technician for <a href="https://www.instagram.com/nelosolut/" target="_blank" class="underline font-semibold">Nelosolut</a> since the summer of 2024.</p>
  <p>I've now mixed over 10 different gigs at different places, from outdoor events to indoor venues.</p>
</div>
</div>
