<div class="flex flex-col justify-center max-lg:flex-col-reverse">

  <div class="flex lg:flex-row max-lg:flex-col-reverse justify-between gap-4 p-4">
    <div class="bg-[#6868681f] border-[#fcfcfc57] border-[1px] inset-shadow-sm inset-shadow-black rounded-sm lg:w-[45%]" >
      <h1 class="text-6xl p-4">MUSIC</h1>
      <article class="p-4">
        <p>Music has always been a passion of mine. I have trained myself in <span class="font-semibold">various instruments</span> and studied music since the age of 6. My background for music is a mixture
          of <span class="font-semibold">classical and modern</span> instruments that I have played in various bands and also orchestras during my time in the Music School.
        </p>
        <br>
        <p>I compose music using mainly <span class="font-semibold">FL Studio</span>, but I also have some experience with <span class="font-semibold">Ableton Live</span> and <span class="font-semibold">Pro Tools</span>. My genres of music vary greatly and my versatility is one of my greatest assets.
          I have also produced music for others such as <span class="font-semibold">Bohemian Ronin</span> and <span class="font-semibold">Selina Hakala</span>.
        </p>
        <br>
        <p>I also have experience on creating <span class="font-semibold">soundtracks</span> for games and <span class="font-semibold">live mixing</span> for various events.</p>
      </article>
    </div>
    <div class="lg:w-[45%] flex justify-center">
      <div class="flex flex-col gap-2 w-[90%]">
        <button class="border-[#fcfcfc57] border-[1px] duration-150 hover:inset-shadow-sm hover:inset-shadow-black h-[5rem] rounded-sm skew-x-[-20deg] hover:scale-[1.02] overflow-hidden group">
          <div class="absolute w-[120%] -ml-[10rem] -mt-[43rem] bg-no-repeat inset-0 z-0 skew-x-[20deg] bg-[url('/images/Aleksi_hakala_6.jpg')] group-hover:opacity-40 group-hover:scale-110 duration-150"></div>


          <p class="relative z-10 skew-x-[20deg] text-5xl p-2 drop-shadow-[0px_1px_2px_rgba(0,0,0,1)]">
            Solo Project
          </p>
        </button>
        <button class="border-[#fcfcfc57] border-[1px] duration-150 hover:inset-shadow-sm hover:inset-shadow-black h-[5rem] rounded-sm skew-x-[-20deg] hover:scale-[1.102] overflow-hidden group">
          <div class="absolute w-[300%] h-[2000%] -ml-[33rem] scale-50 -mt-[39rem] inset-0 z-0 skew-x-[20deg] bg-[url('/images/Moffatbanner.png')] group-hover:scale-60 duration-150 group-hover:opacity-40"></div>


          <p class="relative z-10 skew-x-[20deg] text-5xl p-2 drop-shadow-[0px_1px_2px_rgba(0,0,0,1)]">
            Band
          </p>
        </button>
        <button class="border-[#fcfcfc57] border-[1px] duration-150 hover:inset-shadow-sm hover:inset-shadow-black h-[5rem] rounded-sm skew-x-[-20deg] hover:scale-[1.102] overflow-hidden group">
          <div class="absolute w-[700%] h-[2000%] -ml-[95rem] scale-40 -mt-[60rem] inset-0 z-0 skew-x-[20deg] bg-[url('/images/Producing.JPEG')] group-hover:scale-45 duration-150 group-hover:opacity-40"></div>


          <p class="relative z-10 skew-x-[20deg] text-5xl p-2 drop-shadow-[0px_1px_2px_rgba(0,0,0,1)]">
            Music Production
          </p>
        </button>
        <button class="border-[#fcfcfc57] border-[1px] duration-150 hover:inset-shadow-sm hover:inset-shadow-black h-[5rem] rounded-sm skew-x-[-20deg] hover:scale-[1.102] overflow-hidden group">
          <div class="absolute w-[1000%] h-[1100%] -ml-[120rem] -mt-[29.5rem] scale-50 inset-0 z-0 skew-x-[20deg] bg-[url('/images/videogame-bg.png')] group-hover:scale-55 duration-150 group-hover:opacity-40"></div>


          <p class="relative z-10 skew-x-[20deg] text-5xl p-2 drop-shadow-[0px_1px_2px_rgba(0,0,0,1)]">
            Videogame Music
          </p>
        </button>
        <button class="border-[#fcfcfc57] border-[1px] duration-150 hover:inset-shadow-sm hover:inset-shadow-black h-[5rem] rounded-sm skew-x-[-20deg] hover:scale-[1.102] overflow-hidden group">
          <div class="absolute w-[1200%] h-[2000%] -ml-[110rem] -mt-[60rem] scale-60 inset-0 z-0 skew-x-[20deg] bg-[url('/images/LiveMix.JPEG')] group-hover:scale-65 duration-150 group-hover:opacity-40"></div>


          <p class="relative z-10 skew-x-[20deg] text-5xl p-2 drop-shadow-[0px_1px_2px_rgba(0,0,0,1)]">
            Live Mixing
          </p>
        </button>

      </div>
    </div>

  </div>
</div>
