<div class="flex flex-col justify-center max-lg:flex-col-reverse">
  <div
    class="flex lg:flex-row max-lg:flex-col-reverse justify-between gap-4 p-4"
  >
    <div
      class="bg-[#6868681f] border-[#fcfcfc57] border-[1px] inset-shadow-sm inset-shadow-black rounded-sm lg:w-[45%]"
    >
      <h1 class="text-6xl p-4 text-white">MUSIC</h1>
      <article class="p-4 text-white">
        <p class="text-white">
          <span class="font-semibold">My journey</span> into music started in 2001, when I let my parents know that I want to play the violin.
          After that, I have stumbled across other instruments and music production, as well as composing music.
          I'm most proficient with the guitar, piano and violin, but I also have experience with other instruments.
        </p>
        <br />
        <p class="text-white">
          <span class="font-semibold">I started</span> composing my own music already back in 2006 and I took on producing music in 2012. In 2018 I really started to focus on music production
          and I released my first own single that I produced myself. After that I have done various other projects and commissions for other artists too.
        </p>
        <br />
        <p class="text-white">
          <span class="font-semibold">I also</span> have experience on creating
          <span class="font-semibold">soundtracks</span> for games and
          <span class="font-semibold">live mixing</span> for various events. These activities started in 2024 and I have been working on them and gathering as much experience as possible.
        </p>
      </article>
    </div>
    <div class="lg:w-[45%] flex justify-center">
      <div class="flex flex-col gap-2 w-[90%]">
        <button (click)="openDialog(soloproject)"
          class="border-[#fcfcfc57] border-[1px] duration-150 hover:inset-shadow-sm hover:inset-shadow-black lg:h-[5rem] rounded-sm skew-x-[-20deg] hover:scale-[1.02] overflow-hidden group"
        >
          <div
            class="absolute w-[120%] -ml-[10rem] -mt-[43rem] bg-no-repeat inset-0 z-0 skew-x-[20deg] bg-[url('/images/Aleksi_hakala_6.jpg')] group-hover:opacity-40 group-hover:scale-110 duration-150"
          ></div>

          <p
            class="relative z-10 skew-x-[20deg] text-white text-5xl p-2 drop-shadow-[0px_1px_2px_rgba(0,0,0,1)]"
          >
            Solo Project
          </p>
        </button>
        <button (click)="openDialog(band)"
          class="border-[#fcfcfc57] border-[1px] duration-150 hover:inset-shadow-sm hover:inset-shadow-black lg:h-[5rem] rounded-sm skew-x-[-20deg] hover:scale-[1.102] overflow-hidden group"
        >
          <div
            class="absolute max-lg:w-[600%] max-lg:-ml-[80rem] max-lg:-mt-[32rem] lg:w-[300%] lg:h-[2000%] lg:-ml-[33rem] lg:scale-50 lg:-mt-[39rem] inset-0 z-0 skew-x-[20deg] bg-[url('/images/Moffatbanner.png')] group-hover:scale-60 duration-150 group-hover:opacity-40"
          ></div>

          <p
            class="relative text-white z-10 skew-x-[20deg] text-5xl p-2 drop-shadow-[0px_1px_2px_rgba(0,0,0,1)]"
          >
            Band
          </p>
        </button>
        <button (click)="openDialog(musicprod)"
          class="border-[#fcfcfc57] border-[1px] duration-150 hover:inset-shadow-sm hover:inset-shadow-black lg:h-[5rem] rounded-sm skew-x-[-20deg] hover:scale-[1.102] overflow-hidden group"
        >
          <div
            class="absolute max-lg:w-[500%] max-lg:h-[1500%] max-lg:-ml-[50rem] max-lg:-mt-[60rem] lg:w-[700%] lg:h-[2000%] lg:-ml-[95rem] scale-50 lg:-mt-[65rem] inset-0 z-0 skew-x-[20deg] bg-[url('/images/Producing.JPEG')] group-hover:scale-55 duration-150 group-hover:opacity-40"
          ></div>

          <p
            class="relative z-10 skew-x-[20deg] text-5xl p-2 drop-shadow-[0px_1px_2px_rgba(0,0,0,1)] text-white"
          >
            Music Production
          </p>
        </button>
        <button (click)="openDialog(videogamemusic)"
          class="border-[#fcfcfc57] border-[1px] duration-150 hover:inset-shadow-sm hover:inset-shadow-black lg:h-[5rem] rounded-sm skew-x-[-20deg] hover:scale-[1.102] overflow-hidden group"
        >
          <div
            class="absolute w-[1000%] h-[1100%] -ml-[100rem] -mt-[29.5rem] scale-60 inset-0 z-0 skew-x-[20deg] bg-[url('/images/videogame-bg.png')] group-hover:scale-65 duration-150 group-hover:opacity-40"
          ></div>

          <p
            class="relative z-10 skew-x-[20deg] text-5xl p-2 drop-shadow-[0px_1px_2px_rgba(0,0,0,1)] text-white"
          >
            Videogame Music
          </p>
        </button>
        <button (click)="openDialog(livemix)"
          class="border-[#fcfcfc57] border-[1px] duration-150 hover:inset-shadow-sm hover:inset-shadow-black lg:h-[5rem] rounded-sm skew-x-[-20deg] hover:scale-[1.102] overflow-hidden group"
        >
          <div
            class="absolute w-[1200%] h-[2000%] -ml-[110rem] -mt-[30rem] scale-60 inset-0 z-0 skew-x-[20deg] bg-[url('/images/LiveMix.JPEG')] group-hover:scale-65 duration-150 group-hover:opacity-40"
          ></div>

          <p
            class="relative z-10 skew-x-[20deg] text-5xl p-2 drop-shadow-[0px_1px_2px_rgba(0,0,0,1)] text-white"
          >
            Live Mixing
          </p>
        </button>
      </div>
    </div>
  </div>


</div>
