
<div class="flex lg:flex-row max-lg:flex max-lg:flex-col-reverse lg:justify-center lg:gap-20 max-lg:gap-10 max-lg:w-[90%] max-lg:mx-auto items-center lg:min-h-[85vh] lg:w-[85%] lg:mx-auto max-lg:my-10">

  <div class="lg:w-[60%] bg-[#6868681f] border-[#fcfcfc57] border-[1px] inset-shadow-sm inset-shadow-black rounded-xl">
    <article class="text-center p-4" >
      <h1 class="lg:text-6xl max-lg:text-4xl text-slate-200 lg:p-4"> {{this.greeting}} </h1>
      <br>
      <br>
      <p class="text-xl max-lg:text-lg p-2 text-left text-slate-200"><span class="font-semibold">Hello, I'm Aleksi Hakala.</span> I'm 26 years old ostrobothnian aka "pohojalaanen", who lives in Jyväskylä for the time being.</p>
      <p class="text-xl max-lg:text-lg p-2 text-left text-slate-200"><span class="font-semibold">I'm an enthusiastic music producer, soon-to-graduate software developer and experienced social media marketer.</span> If you stumbled upon this particular web-page,
        I salute you and hope to work with you in the future!
      </p>
      <p class="text-xl max-lg:text-lg p-2 text-left text-slate-200"><span class="font-semibold">In addition to my musician and IT degrees,</span> I have garnered experience in the fields of photography, videography, event planning and social media marketing.
        <span class="font-semibold">For personal hobbies </span>I actively go to the gym and indulge in varying amounts of Dungeons & Dragons tabletop role-playing game.
      </p>
      <p class="text-xl max-lg:text-lg p-2 text-left text-slate-200">
        <span class="font-semibold">Feel free to</span> look around my portfolio and if you happen to have any questions or inquiries, you can always contact me!
      </p>
    </article>

  </div>
  <div class="items-center w-[80%] lg:w-[40%]">
    <img class="lg:w-[40rem]  drop-shadow-[1px_1px_20px_rgba(0,200,190,0.3)] rounded-tr-full rounded-b-full" src="/aleksihakala.jpg" alt="meitsi">
  </div>

</div>

