<div class="p-4 flex justify-center">

<div class="bg-[#68686859] border-[#fcfcfc57] border-[1px] inset-shadow-sm rounded-4xl inset-shadow-black p-4 justify-center text-center items-center flex flex-col gap-4 text-white">
  <div class="grid grid-cols-5 w-full">
    <div class="col-start-2 col-span-3">
    <h1 class="text-4xl text-white">BAND</h1>
  </div>
<div class="col-start-5"><button (click)="backToMusic()"><mat-icon class="!text-slate-100 !text-5xl !size-[3rem] transition duration-200 hover:drop-shadow-[0_4px_4px_rgba(100,0,100,2)] hover:scale-[1.1] flex justify-center">close</mat-icon></button></div></div>


<p class="text-xl"><span class="font-semibold">Band name:</span> Moffat</p>
  <p>Moffat is a unique band with a sound that brings back the 90s raw elements of grunge mixed with a touch of modern metal.
  </p>
  <p>I am responsible for all the guitar sounds and the backup vocals of the band.
  </p>
  <p>We released our debut album in 2024 and you can listen it on all the major streaming platforms.</p>
  <p>You can find our music on these platforms:</p>
  <div class="flex flex-row gap-4 flex-wrap max-lg:justify-center">
    <a href="https://open.spotify.com/artist/31HnmSQOr52g5BwrRpICdg?si=zcQ6JuMPRmCAxLCN5ryPfw" target="_blank"><img src="assets/images/Spotify.png" alt="spotify" class="h-14 hover:scale-[1.05] hover:drop-shadow-[0_4px_4px_rgba(100,0,100,2)] duration-[200ms] cursor-pointer"></a>
    <a href="https://music.apple.com/us/artist/moffat/174528" target="_blank"><img src="assets/images/Apple_Music_icon.png" alt="apple music" class="h-14 hover:scale-[1.05] hover:drop-shadow-[0_4px_4px_rgba(100,0,100,2)] duration-[200ms] cursor-pointer"></a>
    <a href="https://www.deezer.com/en/artist/5346240" target="_blank"><img src="assets/images/deezer-logo.png" alt="deezer" class="h-14 hover:scale-[1.05] hover:drop-shadow-[0_4px_4px_rgba(100,0,100,2)] duration-[200ms] cursor-pointer"></a>
    <a href="https://www.youtube.com/@Moffat-Official" target="_blank"><img src="assets/images/Youtube_logo.png" alt="youtube" class="h-14 hover:scale-[1.05] hover:drop-shadow-[0_4px_4px_rgba(100,0,100,2)] duration-[200ms] cursor-pointer"></a>
  </div>
  </div>
</div>
