<div class="flex max-lg:flex-col-reverse lg:flex gap-10 p-2 bg-radial">
  <div
    class="max-lg:flex-col-reverse max-lg:flex max-lg:gap-10 flex flex-col gap-10"
  >
    <div
      class="bg-[#6868681f] border-[#fcfcfc57] border-[1px] inset-shadow-sm inset-shadow-black rounded-sm"
    >
      <article class="p-10">
        <h1 class="text-6xl">CODE</h1>
        <br />
        <p>
          <span class="font-semibold">I'm currently studying</span> Business
          Information Technology at Jamk University of Applied Sciences.
        </p>
        <p>
          As of now, I'm working on my thesis concerning AWS Supply Chain
          Optimization and Realistic Data Generation using AI.
        </p>
        <br />
        <p>
          <span class="font-semibold">During my studies</span> I have built a
          profound understanding over
          <span class="text-orange-400 font-semibold">JavaScript</span>/<span
            class="text-cyan-300 font-semibold"
            >TypeScript</span
          >
          languages and also several different frameworks that implement said
          languages. For example, this website was built using
          <span class="text-red-500 font-semibold">Angular</span> and
          <span class="text-blue-400 font-semibold">Tailwind</span>. These are
          also complimented by my knowledge of basic software architecture and
          databases, with a touch of cloud computing (AWS) and AI.
        </p>
        <br />
        <p>
          <span class="font-semibold">Additionally to my studies</span> I have
          also been learning few different languages such as
          <span class="text-green-400 font-semibold">Python</span> and
          <span class="text-pink-400 font-semibold">C#</span>.
        </p>
      </article>
    </div>
    <div class="">
      <div
        class="border-t-[1px] border-[#4b912f31] w-[15%] border-x-[1px] bg-[#68686813] text-center inset-shadow-black inset-shadow-sm"
      >
        <h2 class="text-3xl">Projects</h2>
      </div>

      <div
        class="flex flex-row gap-2 p-4 bg-[#68686813] border-[#4b912f31] border-[1px] inset-shadow-sm inset-shadow-black h-[16rem]"
      >
        <div class="flex flex-col w-20">
          <button (dblclick)="openElli()"
            class="flex flex-col border-[1px] border-[#4b912f00] items-center hover:bg-[#7bf0ff56] hover:border-[1px] hover:border-blue-200 focus:border-blue-200 focus:bg-[#7bf0ffa1] focus:border active:bg-[#7bf0ff56] active:border-[1px] active:border-blue-200"
          >
            <img src="/ElliShortcut.png" alt="Elli" class="h-20 w-20" />
            <p class="text-center text-sm">Elli-Ticorporate</p>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <div>
      <h2 class="text-3xl">Primary Skills</h2>
      <div
        class="bg-[#6868681f] border-[#fcfcfc57] border-[1px] inset-shadow-sm inset-shadow-black rounded-sm p-6"
      >
        <div class="flex flex-row gap-6 justify-center max-lg:flex-wrap">
          <div class="flex flex-col justify-center items-center">
            <i class="devicon-javascript-plain colored text-6xl text-6xl"></i>
            <p>JavaScript</p>
            <p>8/10</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <i class="devicon-typescript-plain colored text-6xl"></i>
            <p>TypeScript</p>
            <p>8/10</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <i class="devicon-html5-plain colored text-6xl"></i>
            <p>HTML</p>
            <p>9/10</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <i class="devicon-python-plain colored text-6xl"></i>
            <p>Python</p>
            <p>2/10</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <i class="devicon-css3-plain colored text-6xl"></i>
            <p>CSS</p>
            <p>9/10</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h2 class="text-3xl">Utility Skills</h2>
      <div
        class="bg-[#6868681f] border-[#fcfcfc57] border-[1px] inset-shadow-sm inset-shadow-black rounded-sm p-6 flex flex-col gap-6"
      >
        <div
          class="grid lg:grid-cols-5 lg:gap-4 max-lg:gap-2 lg:justify-between max-lg:justify-center lg:flex-wrap max-lg:grid max-lg:grid-cols-3"
        >
          <div class="flex flex-col justify-center items-center gap-2">
            <i
              class="devicon-amazonwebservices-plain colored text-6xl drop-shadow-[1px_1px_2px_rgba(255,255,255,0.3)]"
            ></i>
            <p>AWS</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <i
              class="devicon-github-plain colored text-6xl drop-shadow-[1px_1px_2px_rgba(255,255,255,0.3)]"
            ></i>
            <p>GitHub</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <i
              class="devicon-visualstudio-plain colored text-6xl drop-shadow-[1px_1px_2px_rgba(255,255,255,0.3)]"
            ></i>
            <p>VSCode</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <i
              class="devicon-angularjs-plain colored text-6xl drop-shadow-[1px_1px_2px_rgba(255,255,255,0.3)]"
            ></i>
            <p>Angular</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <i
              class="devicon-tailwindcss-plain colored text-6xl drop-shadow-[1px_1px_2px_rgba(255,255,255,0.3)]"
            ></i>
            <p>Tailwind</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <i
              class="devicon-mongodb-plain colored text-6xl drop-shadow-[1px_1px_2px_rgba(255,255,255,0.3)]"
            ></i>
            <p>MongoDB</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <i
              class="devicon-mysql-plain colored text-6xl drop-shadow-[1px_1px_2px_rgba(255,255,255,0.3)]"
            ></i>
            <p>MySQL</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <i
              class="devicon-figma-plain colored text-6xl drop-shadow-[1px_1px_2px_rgba(255,255,255,0.3)]"
            ></i>
            <p>Figma</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <i
              class="devicon-express-original colored text-6xl drop-shadow-[1px_1px_2px_rgba(255,255,255,0.3)]"
            ></i>
            <p>Express</p>
          </div>
          <div class="flex flex-col justify-center items-center">
            <i
              class="devicon-docker-plain colored text-6xl drop-shadow-[1px_1px_2px_rgba(255,255,255,0.3)]"
            ></i>
            <p>Docker</p>
          </div>
        </div>
      </div>
      <div>
        <h2 class="text-3xl">Certificates</h2>
        <div
          class="bg-[#6868681f] border-[#fcfcfc57] border-[1px] inset-shadow-sm inset-shadow-black rounded-sm p-6"
        >
          <div class="grid grid-cols-2">
            <div class="flex flex-col lg:justify-center lg:items-center">
              <a
                class="flex justify-center"
                href="https://www.credly.com/badges/af32de95-93a5-4bc1-95f6-87435691873a/public_url"
                target="_blank"
                ><img
                  src="aws-academy-graduate-aws-academy-cloud-foundations.png"
                  alt="aws-cloud-foundations"
                  class="w-3/5 hover:scale-[1.05] duration-150 hover:cursor-pointer"
              /></a>
              <p class="text-center">AWS Cloud Foundations</p>
            </div>
            <div class="flex flex-col lg:justify-center lg:items-center">
              <a
                class="flex justify-center"
                href="https://www.credly.com/badges/0cc70223-b7a4-4851-960d-b7e5599d33ad/public_url"
                target="_blank"
                ><img
                  src="aws-academy-graduate-aws-academy-cloud-architecting.png"
                  alt="aws-cloud-foundations"
                  class="w-3/5 hover:scale-[1.05] duration-150 hover:cursor-pointer"
              /></a>
              <p class="text-center">AWS Cloud Architecting</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
