<div class="flex justify-center p-4">
<div class="bg-[#68686859] opacity-90 border-[#fcfcfc57] border-[1px] inset-shadow-sm rounded-4xl inset-shadow-black text-center items-center p-4 flex flex-col gap-4 text-white">
  <div class="grid grid-cols-5 w-full">
  <div class="col-start-2 col-span-3">
  <h1 class="text-4xl text-white">MUSIC PRODUCTION</h1>
</div>
<div class="col-start-5"><button (click)="backToMusic()"><mat-icon class="!text-slate-100 !text-5xl !size-[3rem] transition duration-200 hover:drop-shadow-[0_4px_4px_rgba(100,0,100,2)] hover:scale-[1.1] flex justify-center">close</mat-icon></button></div></div>

<p>I have been producing music since 2012, where I only focused on my own songs. But during the last few years, starting from 2020, I have also been producint Music
  for other artists.
</p>
<p>These artists include <a href="https://open.spotify.com/track/6SnYdvLmnMXLEGn4jE1Tu0?si=55f75d3c99144553" target="_blank" class="underline">Selina Hakala</a> and <a href="https://open.spotify.com/artist/3ehQhI4Fi2rvnzqgotIgzy?si=IlL-E6t0S1yEdcxQwKGBtQ" target="_blank" class="underline">Bohemian Ronin</a>.</p>
<p>If you're interested in having a song produced for you, feel free to contact me!</p>

</div>
</div>
