<div class="bg-[#68686859] opacity-90 border-[#fcfcfc57] border-[1px] inset-shadow-sm rounded-4xl inset-shadow-black p-4 flex flex-col gap-4 text-white"><h1 class="text-4xl">MUSIC PRODUCTION</h1>
<p>I have been producing music since 2012, where I only focused on my own songs. But during the last few years, starting from 2020, I have also been producint Music
  for other artists.
</p>
<p>These artists include <a href="https://open.spotify.com/track/6SnYdvLmnMXLEGn4jE1Tu0?si=55f75d3c99144553" target="_blank" class="underline">Selina Hakala</a> and <a href="https://open.spotify.com/artist/3ehQhI4Fi2rvnzqgotIgzy?si=IlL-E6t0S1yEdcxQwKGBtQ" target="_blank" class="underline">Bohemian Ronin</a>.</p>
<p>If you're interested in having a song produced for you, feel free to contact me!</p>

</div>
